.modal {
    height: 100px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.modalActive {
    opacity: 1;
    z-index: 1;
    position: absolute;
    transition: 0.3s;
}

.modalContent {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    height: 200px;
    width: 400px;
}